#profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#profile-image {
    max-width: 200px;
    height: auto;
    border-radius: 2rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

#profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#profile-job-title {
    color: #c70039;
}

#profile-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profile-button {
    color: white;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

.profile-button:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    opacity: 0.9;
}

#resume-button {
    background-color: #554883;
}

#linkedin-button {
    background-color: #007be8;
}