@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

:root {
  --bg-color-1: white;
  --text-color-1: black;
}

body {
  margin: 0;
  font-family: "Shippori Antique B1", sans-serif;
  background-color: var(--bg-color-1);
  color: var(--text-color-1);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-1: #1a1a1a;
    --text-color-1: white;
  }
}